.main-container {
  width: 100%;
  border: 2px solid black;
  height: 500px;
}
.parent-recommended {
  width: 40%;
  height: 300px;
  margin: 50px;
  border: 2px solid black;
  position: relative;
}
.p-tag {
  position: absolute;
  top: 0;
  right: 30px;
}
